@use "sass:list";
@use "sass:math";

$icons:
  clock, calendar, eyes, mailbox, browser, camera, trash, briefcase, finder,
  palette, cd, picture, eightball, model, ferrari, games, ignaz, rolodex,
  wrench, application;

.icon {
  $icon-size: 64px;
  $icons-per-row: 4;

  display: block;
  width: $icon-size;
  height: $icon-size;
  background-image: url("img/icons-64.png");
  zoom: 1;
  image-rendering: pixelated;
  filter: drop-shadow(3px 3px 0 rgb(0 0 0 / 0.2));

  @for $i from 1 through length($icons) {
    $icon: nth($icons, $i);
    $y: floor(($i - 1) / $icons-per-row);
    $x: ($i - 1) % $icons-per-row;

    &.#{$icon} {
      background-position: (-$x * $icon-size) (-$y * $icon-size);
    }
  }
}
