:root {
  --color-desktop: 92 144 164;
  --color-surface: 195 179 169;
  --color-surface-light: color-mix(
    in srgb,
    rgb(var(--color-surface)),
    white 50%
  );
  --color-surface-dark: color-mix(
    in srgb,
    rgb(var(--color-surface)),
    black 10%
  );

  --color-primary-active: 227 171 121;
  --color-primary-active-light: color-mix(
    in srgb,
    rgb(var(--color-primary-active)),
    white 50%
  );
  --color-primary-active-dark: color-mix(
    in srgb,
    rgb(var(--color-primary-active)),
    black 10%
  );

  --color-primary-inactive: 153 153 153;
  --color-primary-inactive-light: color-mix(
    in srgb,
    rgb(var(--color-primary-inactive)),
    white 50%
  );
  --color-primary-inactive-dark: color-mix(
    in srgb,
    rgb(var(--color-primary-inactive)),
    black 10%
  );

  --color-secondary-active: 92 144 164;
    --color-secondary-active-light: color-mix(
    in srgb,
    rgb(var(--color-secondary-active)),
    white 50%
  );
  --color-secondary-active-dark: color-mix(
    in srgb,
    rgb(var(--color-secondary-active)),
    black 10%
  );
  --color-secondary-inactive: 140 152 168;
    --color-secondary-inactive-light: color-mix(
    in srgb,
    rgb(var(--color-secondary-inactive)),
    white 50%
  );
  --color-secondary-inactive-dark: color-mix(
    in srgb,
    rgb(var(--color-secondary-inactive)),
    black 10%
  );
  --color-tertiary-active: 176 137 141;
    --color-tertiary-active-light: color-mix(
    in srgb,
    rgb(var(--color-tertiary-active)),
    white 50%
  );
  --color-tertiary-active-dark: color-mix(
    in srgb,
    rgb(var(--color-tertiary-active)),
    black 10%
  );
  --color-tertiary-inactive: 165 153 144;
    --color-tertiary-inactive-light: color-mix(
    in srgb,
    rgb(var(--color-tertiary-inactive)),
    white 50%
  );
  --color-tertiary-inactive-dark: color-mix(
    in srgb,
    rgb(var(--color-tertiary-inactive)),
    black 10%
  );

  --color-field-active: 105 111 128;
  --color-field-inactive: 165 153 144;

  --border-width: 2px;
}

::selection {
  background-color: rgb(var(--color-tertiary-inactive));
}

.active *::selection {
  background-color: rgb(var(--color-tertiary-active));
}

.color-surface {
  --local-color: var(--color-surface);
  --local-color-light: var(--color-surface-light);
  --local-color-dark: var(--color-surface-dark);
}

.color-primary {
  --local-color: var(--color-primary-inactive);
  --local-color-light: var(--color-primary-inactive-light);
  --local-color-dark: var(--color-primary-inactive-dark);

  &.active {
    --local-color: var(--color-primary-active);
    --local-color-light: var(--color-primary-active-light);
    --local-color-dark: var(--color-primary-active-dark);
  }
}

.color-secondary {
  --local-color: var(--color-secondary-inactive);
  --local-color-light: var(--color-secondary-inactive-light);
  --local-color-dark: var(--color-secondary-inactive-dark);

  &.active {
    --local-color: var(--color-secondary-active);
    --local-color-light: var(--color-secondary-active-light);
    --local-color-dark: var(--color-secondary-active-dark);
  }
}

.color-tertiary {
  --local-color: var(--color-tertiary-inactive);
  --local-color-light: var(--color-tertiary-inactive-light);
  --local-color-dark: var(--color-tertiary-inactive-dark);

  &.active {
    --local-color: var(--color-tertiary-active);
    --local-color-light: var(--color-tertiary-active-light);
    --local-color-dark: var(--color-tertiary-active-dark);
  }
}

.bevel {
  background: rgb(var(--local-color));
  border-left: var(--border-width) outset var(--local-color-light);
  border-top: var(--border-width) outset var(--local-color-light);
  border-right: var(--border-width) outset var(--local-color-dark);
  border-bottom: var(--border-width) outset var(--local-color-dark);
}

.emboss {
  background: rgb(var(--local-color));
  border-left: var(--border-width) inset var(--local-color-dark);
  border-top: var(--border-width) inset var(--local-color-dark);
  border-right: var(--border-width) inset var(--local-color-light);
  border-bottom: var(--border-width) inset var(--local-color-light);
}

.text-shadow {
  color: white;
  text-shadow: 0 2px black;
}
